<div class="col-md-8 offset-md-2 mt-3">
  <div class="movie">
    <div class="movie-body">
      <h2 class="fw-bolder text-center">{{movie.mov_title}}</h2>
      <div class="d-flex justify-content-between">
        <img class="shadow-lg" src="{{movie.mov_img}}" alt="{{movie.mov_title}}" style="width: 40%;">
        <div class="d-flex flex-column justify-content-center m-auto w-50">
          <p>{{movie.mov_descrip}}</p>
          <p><span class="text-success">Gender: </span>{{movie.mov_labels}}</p>
          <p><span class="text-success">Available until: </span>{{movie.mov_dt_rel  | date: 'yyyy-MM-dd'}}</p>
          <div>
            <button [routerLink]="['/movies']"  class="btn btn-dark text-white mt-2 w-25 ms-3">Back</button>
            <button  class="btn btn-success text-white mt-2 w-50 ms-3"><a class="text-white text-decoration-none" target="_blank" href="{{movie.mov_link}}">See Movie</a></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
