<div
  class="container position-relative col-md-8 col-10 pb-5 d-flex flex-column justify-content-center m-auto w-100"
>
  <img class="my-2 my-3" src="../../../assets/moviesImg.png" alt="Movies" />
  <select
    [(ngModel)]="opcionSeleccionado"
    (change)="filterMovies()"
    class="form-select position-absolute"
    style="width: 200px; top: 25px; right: -20px"
    aria-label="Default select example"
  >
    <option selected>Categoria</option>
    <option value="Animación">Animación</option>
    <option value="Superhéroes">Superhéroes</option>
    <option value="Acción">Acción</option>
    <option value="Ciencia ficción">Ciencia ficción</option>
    <option value="Aventura">Aventura</option>
    <option value="Fantasía">Fantasía</option>
    <option value="Musical">Musical</option>
    <option value="Comedia">Comedia</option>
  </select>
  <div class="d-flex justify-content-around gap-5 flex-wrap">
    <div *ngFor="let movie of movies" class="card" style="width: 15rem">
      <img src="{{ movie.mov_img }}" alt="{{ movie.mov_title }}" />
      <div class="card-body">
        <h5 class="card-title">{{ movie.mov_title }}</h5>
        <p class="card-text">{{ movie.mov_descrip }}</p>
        <button
          [routerLink]="['watch', movie.mov_id]"
          class="btn btn-success py-0 px-2 edit"
        >
          <i class="fa-solid fa-eye"></i> See more
        </button>
      </div>
    </div>
  </div>
</div>
